__pycache__/
.vscode/
.ipynb_checkpoints
configs/*.json
data/addition/*.txt
data/shakespeare/train*.txt
data/shakespeare/val*.txt
data/openwebtext/*.bin
results/*/*.txt
*wandb
models/*.pt
models/seperate/*.pt
testing/models/*.pt
*.ipynb
results.tar.gz
figures/*.pdf
*.DS_Store
